<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found - cutur1.herokuapp.com</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <h1 class="mainText">
        <span class="slash">/</span>CUT<span class="short">UR1</span>
    </h1>
</div>
<div>
    <h1 class="exceptionDiv">
        <p th:text="${statusCode}"></p>
        <p th:text="${codeMessage}"></p>
    </h1>
</div>
<div class="footer">
</div>
</body>
</html>