<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <h1 class="mainText">
        <span class="slash">/</span>CUT<span class="short">UR1</span>
    </h1>
</div>
<div>
    <h1 class="mainDiv">
        Error <span th:text="${statusCode}"></span>
    </h1>
</div>
<div class="footer">
</div>
</body>
</html>